@using System.Security.Claims

<h2>Start a New  Nation</h2>
<hr />
@if (User.IsSignedIn())
{
    <p>Hello @User.GetUserName()!</p>
}
else
{
    <p>@Html.ActionLink("New Nation", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}
@if (User.IsSignedIn())
{
    <p>Hello @User.GetUserName()!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}